button {
  font-weight: 600;
}

.incomplete-text {
  color: red;
  font-weight: 700;
}

.completed-text {
  color: rgb(43, 219, 43);
  font-weight: 700;
  text-decoration: line-through;
}

.submit-btn {
  margin-left: 10px;
}

.delete-btn {
  background-color: #fff200;
}